Django
djangorestframework
djangorestframework-simplejwt
psycopg2-binary
python-decouple
django-cors-headers
django-filter
drf-spectacular
celery
redis
gunicorn
whitenoise
boto3
django-storages
Pillow
pandas
numpy
matplotlib
seaborn
pytest
pytest-django
factory-boy
coverage
black
flake8
pre-commit
dj-database-url
